#docsSourceList{
    padding: 1em;
    border-radius: 6px;
    background: #161b22;
}

#docsSourceList > p > i{
    padding-right: .5em;
}

#docsSourceList > ul > li{
    height: 3em;
    display: block;
    cursor: pointer;
    list-style: none;
    line-height: 3em;
    padding-left: 1em;
    background: inherit;
    border: .1em solid #161b22;
    text-decoration: none !important;
}

#docsSourceList > ul > li:hover{
    background: #0d1117;
    text-decoration: none !important;
}

#docsSourceList > ul > li > a:hover{
    text-decoration: none !important;
}