header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 99999999999;
    box-sizing: border-box;
    color: var(--color-text);
    height: var(--header-size);
    background: var(--color-pre-bg);
    border: .1em solid var(--color-border);
}

header > .label {
    float: left;
    cursor: default;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
    line-height: calc(var(--header-size) - .05em);
}

header > .nav {
    float: right;
    height: var(--header-size);
    line-height: var(--header-size);
}

header > .nav > div {
    width: 3em;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: calc(var(--header-size) - .05em);
}

header > .nav > div:hover, header > .nav > .actived { background: var(--color-border); }

#scrollToTopBtn { display: none; }