.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 999999999999999999;
}

.modal-content {
    padding: 20px;
    max-width: 80%;
    border-radius: 6px;
    padding-bottom: 10px !important;
    background-color: var(--color-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content > pre {
    position: relative;
    border-radius: 6px;
    background-color: var(--color-pre-bg);
}

.modal-content > pre > code {
    display: block;
}

.modal-content > .fa-solid {
    top: 0;
	right: 0;
    cursor: pointer;
    position: absolute;
}

.modal-content > .fa-solid:hover {
    color: var(--color-link-hover);
}

.modal-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
	position: fixed;
	overflow: hidden;
    z-index: 99999999999999999;
    background-color: rgba(0, 0, 0, 0.5);
}