/* PLUGIN'S SECTION */

.plugin-section {
    padding: 1em;
    border-radius: 6px;
    margin-bottom: .5em;
    background: var(--color-pre-bg);
    border: .1em solid var(--color-border);
}

.plugin-section > p > i {
    padding-right: .5em;
}

.plugin-section > ul > li {
    height: 3em;
    display: block;
    cursor: pointer;
    font-size: .8em;
    list-style: none;
    line-height: 3em;
    border-radius: 3px;
    margin-left: -1.5em;
    background: inherit;
    color: inherit !important;
    text-decoration: none !important;
    border: .1em solid var(--color-border);
}

.plugin-section > ul > li > a {
    color: inherit !important;
}

.plugin-section > ul > li > i {
    width: 3em;
    height: 3em;
    float: left;
    line-height: 3em;
    text-align: center;
}

.plugin-section > ul > li:hover  {
    background: var(--color-quote);
    border-left: .5em solid var(--color-border);
}

.plugin-section > ul > .pdd-left { padding-left: 1em; }

.plugin-section > ul > li > .hover-icon:hover { color: var(--color-link-hover); }

/* MODAL */

.modal  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 999999999999999999;
}

.modal-mask  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
	position: fixed;
	overflow: hidden;
    z-index: 99999999999999999;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content  {
    padding: 20px;
    max-width: 80%;
    border-radius: 6px;
    padding-bottom: 10px !important;
    background-color: var(--color-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content > pre {
    position: relative;
    border-radius: 6px;
    background-color: var(--color-pre-bg);
}

.modal-content > pre > code { display: block; }

.modal-content > .fa-solid:hover { color: var(--color-link-hover); }