/* PLUGIN'S SECTION */

.plugin-section{
    padding: 1em;
    border-radius: 6px;
    margin-bottom: .5em;
    background: var(--color-pre-bg);
    border: .1em solid var(--color-border);
}

.plugin-section > p > i{
    padding-right: .5em;
}

.plugin-section > ul > li{
    height: 3em;
    display: block;
    cursor: pointer;
    font-size: .9em;
    list-style: none;
    line-height: 3em;
    border-radius: 3px;
    margin-left: -1.5em;
    background: inherit;
    color: inherit !important;
    text-decoration: none !important;
    border: .1em solid var(--color-border);
}

.plugin-section > ul > li > a{
    color: inherit !important;
}

.plugin-section > ul > .pdd-left{
    padding-left: 1em;
}

.plugin-section > ul > li > i{
    width: 3em;
    height: 3em;
    float: left;
    line-height: 3em;
    text-align: center;
}

.plugin-section > ul > li:hover{
    background: var(--color-quote);
    border-left: .5em solid var(--color-border);
}

/* LICENSES BOX */

.licenses-box{
    top: 0;
    right: 0;
    width: 16em;
    display: none;
    overflow: auto;
    position: fixed;
    max-height: 18em;
    border-top: 0 !important;
    margin-top: var(--header-size);
    background: var(--color-pre-bg);
    border: .1em solid var(--color-border);
}

.licenses-box > a{
    height: 3em;
    display: block;
    cursor: pointer;
    font-size: .9em;
    list-style: none;
    line-height: 3em;
    padding-left: 1em;
    background: inherit;
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: .1em solid var(--color-border);
}

.licenses-box > a:hover{
    background: var(--color-quote);
    border-left: .5em solid var(--color-border);
}

.licenses-box > a:last-child{
    border-bottom: 0 !important;
}