<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ page_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='https://i.imgur.com/aHe6qpf.png' sizes='32x32'>
    <!-- NOT MODIFIED THIS -->
    {{ inject_css }}
</head>
<body class='markdown-body'>
    <header>
        <div class='label' id='headerLabel'></div>

        <div class='nav'>
            <div class='fa-solid fa-arrow-up' id='scrollToTopBtn'></div>
            <div class='fa-solid fa-scale-balanced' id='toggleLicensesBox'></div>
            <div class='fa-solid fa-book' id='scrollToRefsBtn'></div>
            <div class='fa-solid fa-paperclip' id='scrollToDocsBtn'></div>
        </div>
    </header>

    <div class='licenses-box' id='licensesBox'></div>

    <div class='modal-mask' id='bibTextMaskModal'></div>
    <div class='modal' id='bibTextModal'>
        <div class='modal-content'>
            <pre><code id='bibTextCode'></code></pre>
        </div>
    </div>

    {{ markdown_content }}

    <!-- NOT MODIFIED THIS -->
    {{ inject_js }}
</body>
</html>
